body{
    background-color: rgb(126, 204, 255);
    text-align: center;
}

.titulo{
    color: rgb(126, 204, 255);
}

fieldset{
    background-color: rgb(234, 245, 254);
    text-align: center;
    
}

form{
    background-color: rgb(126, 204, 255);
    padding: 20px;
}

button{
    background-color: rgb(234, 245, 254);
    color: rgb(0, 0, 0);
}